<button (click)="callAllAuctions()">All Auctions</button>
<button (click)="callCreateAuction()">Create Auction</button>
<button (click)="callPlaceBid()">Place Bid</button>

<div class="container">
  <div class="left">
    Query Result:
    <pre> {{ queryResult$ | async | json }} </pre>

    <br />

    Command Result:
    <pre>{{ commandResult$ | async | json }}</pre>
  </div>
  <div class="right" *ngIf="allActions$ | async as allActions">
    <form *ngFor="let action of allActions" class="action">
      <p>{{ action.type }}: {{ action.name }}</p>
      <div class="params">
        <ng-container *ngFor="let param of action.parameters">
          <div>
            <label [for]="param.name"
              >{{ param.name }} ({{ param.type }})</label
            >
            <input [name]="param.name" />
          </div>
        </ng-container>
      </div>
      <button (click)="executeAction(action, $event)">Execute</button>
    </form>
  </div>
</div>
