<button (click)="callAllAuctions()">All Auctions</button>
<button (click)="callCreateAuction()">Create Auction</button>
<button (click)="callPlaceBid()">Place Bid</button>

<div class="container">
  <div class="left">
    Query Result:
    <pre> {{ queryResult$ | async | json }} </pre>

    <br />

    Command Result:
    <pre>{{ commandResult$ | async | json }}</pre>
  </div>
  <div class="right" *ngIf="allActions$ | async as allActions">
    <form *ngFor="let action of allActions" class="action">
      <h3>{{ action.title }}</h3>
      <div *ngFor="let control of action.controls">
        <app-dynamic-field
          [control]="control"
          [formGroup]="formGroups[action.title]"
        ></app-dynamic-field>
      </div>
      <button
        (click)="executeAction(action.actionData, formGroups[action.title])"
      >
        Execute
      </button>
    </form>
  </div>
</div>
